{snippet}
    {if $rating == 1}
        <a class="ajax" n:href="unlike!" ><button type="button" class="btn btn-success">Relevantní</button></a>
    {else}
        <a class="ajax" n:href="like!" ><button type="button" class="btn btn-danger">Nerelevantní</button></a>
    {/if}
{/snippet}
